/* stylelint-disable no-missing-end-of-source-newline */
.loader-spinner {
    width: 35px;
    height: 35px;
    border: 4px solid var(--bg-color);
    border-top: 4px solid var(--inverted-bg-color);
    border-radius: 50%;
    animation: custom-spin 1s linear infinite;
}

@keyframes custom-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}